<?xml version="1.0" encoding="utf-8" ?>
<!-- Set the switch here to affect .NET Framework apps -->
<configuration>
  <appSettings>
    <add key="switch:aspnet.test" value="true"/>
  </appSettings>
  <runtime>
    <AppContextSwitchOverrides value="switch:aspnet.test=true" />
  </runtime>
</configuration>
